/**
 * keep slider thumb the same size on all sizes
 */
@media screen and (max-width: 980px) {
  #read-slider {
      height: 1rem;
  }
}

#read-slider::-webkit-slider-thumb {
  width: 2.2rem;
  height: 1rem;
}